<div class="container profile-widget">
    <div class="row profile-widget__header">Profile</div>
    <div class="card profile-widget__container">
        <div class="card-body profile-widget__body">
            <div class="row m-0" *ngIf="!loading; else loader">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="row">
                        <div class="profile-widget__user">

                            <div class="profile-widget__user-pic">
                                <img src="{{ user.profile ? user.profile.avatarUrl : 'assets/core/img/nophoto.png' }}" onError="this.src='assets/core/img/nophoto.png'">
                            </div>

                            <div class="profile-widget__user-info">
                                <div class="profile-widget__user-name">{{ user.profile ? (user.profile.firstName + " " + user.profile.lastName) : "" }}</div>
                                <div class="profile-widget__verified-container">
                                    <div class="profile-widget__unverified" *ngIf="user?.KYCStatus !== 'VERIFY_FINISHED'">
                                        Unverified Account
                                    </div>
                                    <div class="profile-widget__verified" *ngIf="user?.KYCStatus === 'VERIFY_FINISHED'">
                                        Verified Account
                                    </div>
                                    <a class="profile-widget__verified-link" *ngIf="user.KYCStatus !== 'VERIFY_FINISHED'" (click)="verifyUser(kycModal)">Get Verified</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <hr class="profile-widget__hr">
                <div class="col-md-12" *ngIf="profile?.profile ">
                    <div class="row">
                        <div class="profile-widget__strength-box">
                            <div class="personal-text profile-widget__strength-title">Account Strength</div>
                            <div class="profile-widget__strength">
                                <div [ngClass]="[personalProfileCompletion.step1 ? 'profile-widget__strength-step--one' : 'widget-part-empty']" class="profile-widget__strength-step" (mouseenter)="personalProfileCompletion.step1Hover = true" (mouseleave)="personalProfileCompletion.step1Hover = false">
                                    <div class="profile-widget__strength-level" *ngIf="personalProfileCompletion.step1">
                                        <div class="profile-widget__strength-level-icon" (mouseenter)="togglePersonalCheckPoint1Info()" (mouseleave)="togglePersonalCheckPoint1Info()">
                                        </div>
                                    </div>
                                </div>
                                <div class="profile-widget__strength-step profile-widget__strength-step--two" (mouseenter)="personalProfileCompletion.step2Hover = true" (mouseleave)="personalProfileCompletion.step2Hover = false"></div>
                                <div class="profile-widget__strength-step profile-widget__strength-step--three" (mouseenter)="personalProfileCompletion.step3Hover = true" (mouseleave)="personalProfileCompletion.step3Hover = false"></div>
                                <div class="profile-widget__strength-step profile-widget__strength-step--four" (mouseenter)="personalProfileCompletion.step4Hover = true" (mouseleave)="personalProfileCompletion.step4Hover = false"></div>
                                <div class="profile-widget__strength-step profile-widget__strength-step--five" (mouseenter)="personalProfileCompletion.step5Hover = true" (mouseleave)="personalProfileCompletion.step5Hover = false"></div>
                                <div class="profile-widget__strength-step profile-widget__strength-step--six" (mouseenter)="personalProfileCompletion.step6Hover = true" (mouseleave)="personalProfileCompletion.step6Hover = false"></div>
                                <div class="profile-widget__strength-step profile-widget__strength-step--seven" (mouseenter)="personalProfileCompletion.step7Hover = true" (mouseleave)="personalProfileCompletion.step7Hover = false">
                                    <div class="widget-box-icon" *ngIf="personalProfileCompletion.step7">
                                        <div class="widget-icon">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="profile-widget__details" *ngIf="!personalProfileCompletion.step7">
                                <a class="btn btn-link profile-widget__details-button" href="profile">Add Details</a>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>


    <ng-template #loader>
        <ai-loading></ai-loading>
    </ng-template>
</div>


