<div class="services-container">
  <div class="services">
    <h2 class="services__title  ">
      Services
    </h2>
  </div>

  <div class="services-empty">
    <div class="services-empty__image"></div>
    <div class="services-empty__text">
      Personal services will be available on Aitheon Platform soon.<br> Stay tuned for updates!
    </div>
  </div>
</div>

<!-- <div class="user-menu">
  <fl-user-settings-menu></fl-user-settings-menu>
</div>
<h2 class="mb-3">
    Services
</h2>
<div class="card">
  <div class="card-body">
     <fl-services-list *ngIf="!loading" [services]="services" [personal]="true"
                      (servicesChanged)="onServicesChanged()" [user]="currentUser"></fl-services-list>
     <ng-template #loadingView [ngIf]="loading">
      <ai-loading class="loading-container"></ai-loading>
    </ng-template>

    <span class="no-value" *ngIf="services?.length == 0">No personal services</span>
  </div>
</div> -->
