<div class="change-password">
  <div class="card">
    <div class="card-body">
      <div class="change-password__title">
        <h2>Change password</h2>
      </div>

      <form class="change-password__form" novalidate [formGroup]="passwordForm" (ngSubmit)="onSubmit(passwordForm)" autocomplete="off">
        <fieldset [disabled]="loading">
          <input autocomplete="false" name="hidden" type="text" style="display:none;">

          <div class="row">
            <div class="col form-controls">
              <div class="change-password__form-control form-control__current-password">
                <span class="password-eye" (click)="togglePass($event, currentPasswordInput)"></span>

                <label class="form-control__label" *ngIf="isCurrentPasswordValid && !currentPasswordErrorMessage.length">
                  Current password
                </label>

                <label class="form-control__label text-error"
                       *ngIf="!isCurrentPasswordValid || currentPasswordErrorMessage.length">
                  {{ currentPasswordErrorMessage }}
                </label>

                <div class="input-wrap input-wrap--contained input-wrap--small mb-2"
                     [class.input-wrap--error]="!isCurrentPasswordValid || currentPasswordErrorMessage.length">
                  <input type="text"
                         id="current-password"
                         formControlName="currentPassword"
                         class="input-wrap__input form-control__password-input"
                         #currentPasswordInput
                         readonly
                         (focus)="changeTypeIfEmpty(currentPasswordInput)"
                         (keydown)="setPasswordType(currentPasswordInput)">
                </div>
              </div>

              <div class="change-password__form-control form-control__new-password">
                <span class="password-eye" (click)="togglePass($event, newPasswordInput)"></span>

                <label class="form-control__label" *ngIf="isNewPasswordValid">
                  New password
                </label>

                <label class="form-control__label text-error"
                       *ngIf="!isNewPasswordValid">
                  {{ newPasswordErrorMessage }}
                </label>

                <div class="input-wrap input-wrap--contained input-wrap--small mb-2"
                     [class.input-wrap--error]="!isNewPasswordValid">
                  <input type="text"
                         id="new-password"
                         formControlName="password"
                         class="input-wrap__input"
                         #newPasswordInput
                         readonly
                         (copy)="preventCopy($event)"
                         (focus)="changeTypeIfEmpty(newPasswordInput)"
                         (keydown)="setPasswordType(newPasswordInput)">
                </div>
              </div>

              <div class="password-rules">
                <ul class="password-rules__list">
                  <li class="password-rules__item"
                      [ngClass]="{'password-rules__item--success': isMinLengthRuleSatisfied, 'password-rules__item--fail': (submitted && !isMinLengthRuleSatisfied)}"
                  >
                    at least 8 and no more than 64 characters
                  </li>
                  <li class="password-rules__item"
                      [ngClass]="{'password-rules__item--success': isCaseRuleSatisfied, 'password-rules__item--fail': (submitted && !isCaseRuleSatisfied)}"
                  >
                    contains both uppercase and lowercase characters
                  </li>
                  <li class="password-rules__item"
                      [ngClass]="{'password-rules__item--success': isDigitRuleSatisfied, 'password-rules__item--fail': (submitted && !isDigitRuleSatisfied)}"
                  >
                    contains at least one digit
                  </li>
                </ul>
              </div>

              <div class="change-password__form-control">
                <span class="password-eye" (click)="togglePass($event, confirmPasswordInput)"></span>

                <label class="form-control__label" *ngIf="isConfirmPasswordValid">
                  Confirm new password
                </label>

                <label class="form-control__label text-error"
                       *ngIf="!isConfirmPasswordValid">
                  {{ confirmPasswordErrorMessage }}
                </label>

                <div class="input-wrap input-wrap--contained input-wrap--small mb-2"
                     [class.input-wrap--error]="!isConfirmPasswordValid">
                  <input type="text"
                         id="confirm-password"
                         formControlName="confirmPassword"
                         class="input-wrap__input"
                         readonly
                         #confirmPasswordInput
                         (focus)="changeTypeIfEmpty(confirmPasswordInput)"
                         (keydown)="setPasswordType(confirmPasswordInput)">
                </div>
              </div>
            </div>
          </div>

          <div class="row pl-3 pr-3" *ngIf="!loading">
            <button type="submit" [disabled]="!isButtonEnabled"
                    class="button button--contained button--medium submit-button">
              Save new password
            </button>
          </div>

          <ng-template #loadingView [ngIf]="loading">
            <div class="row pl-3 pr-3 justify-content-end">
              <ai-loading class="loading-container"></ai-loading>
            </div>
          </ng-template>
        </fieldset>
      </form>
    </div>
  </div>

    <fl-second-factor-modal #secondFactorModal
                            modalClass="second-factor-modal"
                            [error]="error"
                            (success)="secondFactorSuccess($event)"
    ></fl-second-factor-modal>
</div>
