<ai-loading *ngIf="loading"></ai-loading>

<div class="file-upload-component">
  <div class="file-upload-wrapper" aiDriveUploader>
    <div class="ai-uploader-file-btn" *ngIf="driveUploader">
      <input type="file" ng2FileSelect [uploader]="driveUploader?.uploader" [multiple]="multiple" [accept]="accept" />
    </div>
    <p><span class="ai-uploader-file-btn btn btn-primary btn-sm">Click here</span>&nbsp;or drag and drop your files</p>
    <ai-drive-uploader
      #driveUploader
      [isPublic]="isPublic"
      [autoUpload]="false"
      (afterAddingFile)="onBeforeUpload($event)"
      (success)="onSuccessUpload($event)" [service]="currentServiceKey"
      (failedUploadFile)="onFailedUpload($event)">
  </ai-drive-uploader>
  </div>

  <div class="image-wrap">
    <ul class="image-nav pl-2" [class.signed]="onlySignedUrl">
        <li *ngFor="let doc of docs">
          <a target="_blank" [href]="doc && (doc.signedUrl || doc)">
              <img *ngIf="doc && (doc.contentType && doc.contentType.indexOf('image') !== -1 || doc.indexOf('http') !== -1)" class="timeline-img" [src]='doc.signedUrl || doc'>
              <span *ngIf="!onlySignedUrl">{{ doc && doc.name }}</span>
          </a>
          <span class="close-btn" (click)="removeDocument(doc)">&nbsp;<i class="fa fa-times"></i></span>
        </li>
      </ul>
  </div>
</div>
