<div class="container introduce-widget">
  <div class="row introduce-widget__header">Platform introduce</div>
  <div class="card introduce-widget__card">
    <div class="row introduce-widget__container">
      <ul class="introduce-widget__list">
        <li class="introduce-widget__item introduce-widget__item--tutorials">
          <span class="introduce-widget__item-title">Tutorials</span>
        </li>
        <li class="introduce-widget__item introduce-widget__item--documentation">
          <span class="introduce-widget__item-title">Documentation</span>
        </li>
        <li class="introduce-widget__item introduce-widget__item--started">
          <span class="introduce-widget__item-title">Getting Started</span>
        </li>
      </ul>
    </div>
  </div>
</div>
