.address-container {
    background: #222222;
    padding:    0 15px 15px;

}
.address-heading {
    color: #dcbc65;
    display: block;
    margin: 15px 0;
  }

  form span {
    font-size: 0.75rem;
  }

.btn-sm {
  height: 40px;
}

.container {
  width: 1200px;
}

.infrastructure-form {
  width: 600px;
  margin: 0 auto;

  &__breadcrumbs {
      margin-bottom: 1rem;
      font-size: 12px;
      color: #7e7e7e;
  }

  &__title {
      font-size: 24px;
      color: #fff;
      margin-bottom: 2rem;

      &--small {
          font-size: 14px;
      }
  }

  &__hr {
      margin: 1.5rem 0;
      border-top: 1px solid #454545;
  }

  &__radio {
      margin-left: 2rem;

      &:first-child {
          margin: 0;
      }

      label {
          margin: 0;
          cursor: pointer;
      }
  }

  &__breadcrumbs,
  &__radio-buttons-section,
  &__cover-section,
  &__cover-info,
  &__buttons-section {
      display: flex;
  }

  &__radio-buttons-section {

      label {
          color: #fff;
      }
  }

  &__cover-section {
      margin-bottom: 1.5rem;
  }

  &__cover {
      position: relative;
      width: 154px;
      height: 154px;
      background-color: #1f1f1f;
      border-radius: 2px;
      cursor:pointer;

      &:before {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 24px;
          height: 24px;
          background: url('~/assets/img/icons/image.svg') center center no-repeat;
          background-size: contain;
          content: '';
      }
  }

  &__cover_with_image {
      position: relative;
      width: 154px;
      height: 154px;
      background-color: #2b2b2b;
      border-radius: 2px;
      cursor:pointer;
  }

  &__cover-info {
      position: relative;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      margin-left: 1.5rem;
  }

  &__upload-button {
      margin-top: 1rem;
      padding-left: 0;
      font-size: 12px;
  }

  &__upload-error {
      position: absolute;
      bottom: 0;
      left: 0;
      font-size: 12px;
      color: #e96058;
  }

  // &__name,
  // &__location,
  // &__type {
  //     border: 1px solid transparent;
  // }

  &__error {
      border: 1px solid #e96058;
  }

  &__requirement {
      font-size: 14px;
      color: #7e7e7e;
      margin-right: 1rem;
      padding-left: 1rem;
      border-left: 1px solid #7e7e7e;

      &:first-child {
          border: none;
          padding-left: 0;
      }
  }

  &__label {
      margin-top: 1.5rem;
      font-size: 12px;
      color: #7e7e7e;

      &--uppercase {
          margin-top: 48px;
          font-size: 10px;
          letter-spacing: 1px;
          text-transform: uppercase;
      }
  }

  &__checkbox {
      margin-top: 1.5rem;

      label {
          margin-left: .5rem;
          color: #fff;
      }
  }

  &__buttons-section {
      align-items: center;
      justify-content: flex-end;
  }

  &__cancel-button,
  &__create-button {
      font-size: 12px !important;
  }
}
.upload-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.loader {
    margin:15rem;
}

.breadcrumbs {
  position: relative;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #dcbc65;

  .icon--chevron-left {
      position: absolute;
      top: 50%;
      left: -32px;
      transform: translateY(-50%);
  }
}

a {
  text-decoration: none;
}
