.drop-zone {
    user-select: none;
    border: dashed 1px #454545;
    padding: 30px 20px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
  }

  .uploader-holder {
      position: relative;
  }
  
  .file-over {
    background: rgba(0,0,0,0.1);
    border: dashed 1px #239ae3;
  }
  
  .drop-zone  h1 {
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-transform: uppercase;
    color: rgba(#454545, 0.3);
    margin-bottom: 20px;
  }
  
  .upload-button-wrapper {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    
    button {
      min-width: 155px;
    }
  }
  
  .fileContainer {
    overflow: hidden;
    position: relative;
  }
  
  
  .fileContainer , .fileContainer input {
    width: 70px;
    height: 39px;
    line-height: 17px;
    text-align: center;
  }
  
  .fileContainer [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
  }
  
  .file-item {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    float: left;
    width: 150px;
    text-align: center;
    padding: 4px;
    position: relative;
  
    &:last-child {
      border: none;
    }
  
    .file-name {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .file-action{
      position: absolute;
      top: 0;
      right: 0;
      padding-left: 15px;
      opacity: 0;
      transition: 250ms ease-in-out opacity;
    }
    &:after {
      clear: both;
      content: "";
      display: table;
    }
    i {
      font-size: 40px;
      height: 45px;
    }
    &:hover {
      background: rgba(0,0,0,0.05);
      cursor: pointer;
      .file-action {
        opacity: 1;
      }
    }
  }
  
  .uploading {
    color: #454545;
    font-size: 12px;
    letter-spacing: 0;
  }

  .documents-list {
    padding-right: 70px;
  }

.uploading {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(#454545, 0.2);
  color: #fff!important;
  font-size: 12px !important;
  text-align: center;
  top: 0;
  left: 0;
  z-index: 3;
}