<div style="width: 100%; height: 100%;">
  <div class="card">
    <div class="card-header">

      <div class="float-left">Communities</div>
      <button type="button" class="close pull-right"  aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="card-body">
      <h6>Join a Community</h6>
      <img src="assets/img/community.jpg" style="width: 100%;">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      <button *ngIf="true" type="button" class="btn btn-primary" (click)="click()">Find A Community</button>
    </div>
  </div>
</div>
