.members {
    padding-left: 167px;
    padding-right: 167px;

    &__top-bar {
        height: 50px;
        background-color: #282828;
    }

    &__top-bar-body {
      padding: 0 1.25rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__add {
        line-height: 1.33;
        letter-spacing: 0.3px;
        font-size: 0.75rem;

        &:hover,
        &:active,
        &:focus {
            text-decoration: none;
        }
    }

    &__search {
        height: 35px;

        input {
            height: 35px;
            max-width: 270px;

            &::after {
                top: 41%;
            }
        }
    }

    &__data-container {
        background-color: #282828;

        &:nth-child(even) {
            background-color: #222222;
        }
    }

    &__no-results {
      background-color:#222222;
    }

    &__data-header {
        color: #8c8c8c;
        font-size: 0.875rem;
        height: 3.75rem;
        background-color: #282828;
        display: flex;
        align-items: center;
        border-radius: 2px;
    }


    &__data-access {
        display: flex;
        height: 40px;
        align-items: center;
        flex-wrap: wrap; // for now

        span {
            display: block;
            border-radius: 100px;
            border: 1px solid #424242;
            color: #ffff;
            margin-right: .6rem;
            font-size: 12px;
            padding: 0 8px;

        }
    }

    &__status {
      &--active {
        color:#51b42b
      }

      &--invited {
        color: #ffff;
      }
    }
}

@media only screen and (max-width: 600px) {
    .members {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

.btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
    border-radius: 50% !important;
}